html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}


/* Navbar */

#logo {
    padding-top: 5px;
}

#login-button {
    padding-left: 5px;
}

.nav-user {
    padding-top: 5px;
    padding-left: 20px;
}

.nav-user div a {
    color: #777;
    text-decoration: none;
}

.nav-user div a:hover {
    color: #fff;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Sitemap */
.footer-sitemap a {
    text-decoration: none;
    color: #777;
}

.footer-sitemap a:hover {
    color: #fff;
}

.footer-sitemap ul {
    float: left;
}

.footer-sitemap ul > * {
    list-style: none;
    color: #777;
}

/* Footer */
footer {
    padding-top: 10px;
}