{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1 class=" col-lg-12">Nos clients</h1>
        <div class="col-lg-6">
            <a  class="btn btn-metis-1 btn-xl"  href="{{ path('crm_client_new') }}">Ajouter un client</a>
        </div>
        <div id="sortableTable" class="body collapse in col-lg-12">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                <tr>
                    <th>#
                        <i class="fa sort"></i>
                    </th>
                    <th>Nom
                        <i class="fa sort"></i>
                    </th>
                    <th>Siren
                        <i class="fa sort"></i>
                    </th>
                    <th>Actif
                        <i class="fa sort"></i>
                    </th>
                    <th>#</th>
                </tr>
                </thead>

        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('crm_client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.name }}</td>
                <td>{{ client.siren }}</td>
                <td>{% if client.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="col-lg-6">
                        <a href="{{ path('crm_client_show', { 'id': client.id }) }}" class="btn btn-metis-4 btn-xs btn-line" data-original-title="" title="">Consulter</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="{{ path('crm_client_edit', { 'id': client.id }) }}" class="btn btn-danger btn-xs btn-line" data-original-title="" title="">Editer</a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

        <div class="col-lg-6">
            <a  class="btn btn-metis-1 btn-xl"  href="{{ path('crm_client_new') }}">Ajouter un client</a>
        </div>

    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
