{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">
            <h1>Edition du client</h1>

            {{ form_start(form) }}

            <div class="col-lg-6">
                {{ form_row(form.name, {'label':'Nom'}) }}
            </div>

            <div class="col-lg-6">
                {{ form_row(form.siren, {'label':'Siren'}) }}
            </div>

            <div class="col-lg-2">
                {{ form_row(form.address.streetNumber, {'label':'Numero'}) }}
            </div>

            <div class="col-lg-3">
                {{ form_row(form.address.streetName, {'label':'Adresse'}) }}
            </div>

            <div class="col-lg-3">
                {{ form_row(form.address.zipcode, {'label':'Code postal'}) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.address.city, {'label':'Ville'}) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.address.countryCode, {'label':'Pays'}) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.address.longitude, {'label':'Longitude'}) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.address.latitude, {'label':'Latitude'}) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.isActive, {'label':'Activer'}) }}
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-success btn-lg" type="submit"/>Créer</button>
                </div>
                <div class="col-lg-6">
                    <a  class="btn btn-metis-1 btn-lg" href="{{ path('crm_client_index') }}">Revenir à la liste</a>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>



{% endblock %}