{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

            <div id="sortableTable" class="body collapse in">
                <table class="table table-bordered sortableTable responsive-table">
                    <tr>
                        <th>No Client</th>
                        <td>{{ client.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Siren</th>
                        <td>{{ client.siren }}</td>
                    </tr>
                    {% if client.address %}
                    <tr>
                        <th>Adresse</th>
                        <td>{{ client.address.streetnumber }} {{ client.address.streetName }} {{ client.address.zipCode }} {{ client.address.city }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>


        {% if client.address %}
        <div class="row">
            <div class="col-md-12">
                <div id="map-canvas" style="width:100%;height: 400px;"></div>

            </div>

        </div>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key={{ apikey }}"></script>
            <script type="text/javascript">
                    var myLatlng;
                    var map;
                    var marker;

                    function initialize() {
                        myLatlng = new google.maps.LatLng({{ client.address.longitude }}, {{ client.address.latitude }});
                        var mapOptions = {
                        zoom: 13,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false,
                        draggable: false
                        };
                        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                        var contentString = '<p style="line-height: 20px;"><strong>{{ client.name }}</strong></p><p>{{ client.address.streetNumber }} {{ client.address.streetName }} {{ client.address.zipCode }} {{ client.address.city }}</p>';
                        var infowindow = new google.maps.InfoWindow({
                        content: contentString
                        });
                        marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: 'Marker'
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            //Add a comment to this line
                           infowindow.open(map, marker);
                          });
                      }
                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
        {% endif %}

            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-xs">Supprimer</button>
            {{ form_end(delete_form) }}

    </div>
</div>

{% endblock %}
