{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <h1>Contract list</h1>

    <table id="table1">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Type</th>
                <th>Datestart</th>
                <th>Dateend</th>
                <th>Weeklyhours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td><a href="{{ path('contract_show', { 'id': contract.id }) }}">{{ contract.id }}</a></td>
                <td>{{ contract.user.lastname }} {{ contract.user.firstname }}</td>
                <td>{{ contractTypes[contract.type] }}</td>
                <td>{% if contract.dateStart %}{{ contract.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if contract.dateEnd %}{{ contract.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{{ contract.weeklyHours }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contract_show', { 'id': contract.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contract_edit', { 'id': contract.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contract_new') }}">Create a new entry</a>
        </li>
    </ul>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
