{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <h1>Contract</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ contract.type }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if contract.dateStart %}{{ contract.dateStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if contract.dateEnd %}{{ contract.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Weeklyhours</th>
                <td>{{ contract.weeklyHours }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contract_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contract_edit', { 'id': contract.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
