{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

    <div id="content">
        <h1> Rapport d'activités</h1>

        <div id="sortableTable" class="body collapse in" id="table1">
            <table class="table table-bordered sortableTable responsive-table">
                <thead>
                <tr>
                    <th>#
                        <i class="fa sort"></i>
                    </th>
                    <th>Id
                        <i class="fa sort"></i>
                    </th>
                    <th>Début
                        <i class="fa sort"></i>
                    </th>
                    <th>Fin
                        <i class="fa sort"></i>
                    </th>
                    <th>Satisfaction consultant
                        <i class="fa sort"></i>
                    </th>
                    <th>Satisfaction client
                        <i class="fa sort"></i>
                    </th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for activityReport in activityReports %}
                    <tr>
                        <td><a href="{{ path('activityreport_show', { 'id': activityReport.id }) }}">{{ activityReport.id }}</a></td>
                        <td>{% if activityReport.startAt %}{{ activityReport.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if activityReport.endAt %}{{ activityReport.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ activityReport.consultantStatisfaction }}</td>
                        <td>{{ activityReport.clientSatisfaction }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('activityreport_show', { 'id': activityReport.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('activityreport_edit', { 'id': activityReport.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a href="{{ path('activityreport_new') }}">Entrer un nouveau rapport</a>
            </li>
        </ul>

    </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable();
        });
    </script>

{% endblock %}
