{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">
            <script>
                $(document).ready(function() {

                    $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );

                    $('#startat').datepicker({
                        format: 'mm/dd/yyyy',
                        formatSubmit: 'mm/dd/yyyy',
                        hiddenName: true
                    });

                    $('#stopat').datepicker({
                        format: 'mm/dd/yyyy',
                        formatSubmit: 'yyyy/mm/dd',
                        hiddenName: true
                    });
                });
            </script>
                <h1>Création d'un rapport d'activité</h1>

                {{ form_start(form) }}
            <div class="col-lg-6">
                {{ form_row(form.startAt, {'label': 'Date de début', 'id':'startat', 'class':'form-control' }) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.endAt, {'label': 'Date de fin', 'id':'stopat', 'class':'form-control' }) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.numberAccidentsWithStoppage, {'label': 'Nombre d\'accidents avec arrêt'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.numberAccidentsWithoutStoppage, {'label': 'Nombre d\'accidents avec arrêt'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.numberAccidentsOnWay, {'label': 'nombre d\'accidents du trajet'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.numberAlmostAccidents, {'label': 'Nombre de presqu\'accidents'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.numberMedicalLeaves, {'label': 'Nombre d\'arrêts maladie'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.consultantStatisfaction, {'label': 'Note du consultant'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.clientSatisfaction, {'label': 'Note du client'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.possibleImprovements, {'label': 'Améliorations possibles'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.remainingTasks, {'label': 'tâches restant à accomplir'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.clientComments, {'label': 'Commentaires du client'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.consultantComments, {'label': 'Commentaires du consultant'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.project, { 'label':'Projet'}) }}
            </div>
            <div class="col-lg-6">
                <input class="btn btn-metis-1 btn-lg" type="submit" value="Enregistrer" />
            </div>
            <div class="col-lg-6">
                <a class="btn btn-success btn-lg" href="{{ path('activityreport_index') }}">retour à la liste</a>
            </div>
                {{ form_end(form) }}

        </div>
    </div>
</div>




{% endblock %}