{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>ActivityReport</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activityReport.id }}</td>
            </tr>
            <tr>
                <th>Startat</th>
                <td>{% if activityReport.startAt %}{{ activityReport.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endat</th>
                <td>{% if activityReport.endAt %}{{ activityReport.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numberaccidentswithstoppage</th>
                <td>{{ activityReport.numberAccidentsWithStoppage }}</td>
            </tr>
            <tr>
                <th>Numberaccidentswithoutstoppage</th>
                <td>{{ activityReport.numberAccidentsWithoutStoppage }}</td>
            </tr>
            <tr>
                <th>Numberaccidentsonway</th>
                <td>{{ activityReport.numberAccidentsOnWay }}</td>
            </tr>
            <tr>
                <th>Numberalmostaccidents</th>
                <td>{{ activityReport.numberAlmostAccidents }}</td>
            </tr>
            <tr>
                <th>Numbermedicalleaves</th>
                <td>{{ activityReport.numberMedicalLeaves }}</td>
            </tr>
            <tr>
                <th>Consultantstatisfaction</th>
                <td>{{ activityReport.consultantStatisfaction }}</td>
            </tr>
            <tr>
                <th>Clientsatisfaction</th>
                <td>{{ activityReport.clientSatisfaction }}</td>
            </tr>
            <tr>
                <th>Possibleimprovements</th>
                <td>{{ activityReport.possibleImprovements }}</td>
            </tr>
            <tr>
                <th>Remainingtasks</th>
                <td>{{ activityReport.remainingTasks }}</td>
            </tr>
            <tr>
                <th>Clientcomments</th>
                <td>{{ activityReport.clientComments }}</td>
            </tr>
            <tr>
                <th>Consultantcomments</th>
                <td>{{ activityReport.consultantComments }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('activityreport_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('activityreport_edit', { 'id': activityReport.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
