{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Documents de travail</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Document</th>
                        <th>Titre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td><a href="{{ path('document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                        <td>{{ document.file }}</td>
                        <td>{{ document.title }}</td>
                        <td>

                                <div class="col-lg-4">
                                    <a  class="btn btn-metis-4 btn-xs" href="{{ path('document_show', { 'id': document.id }) }}">Consulter</a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-metis-2 btn-xs" href="{{ path('document_edit', { 'id': document.id }) }}">Modifier</a>
                                </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="col-lg-12">
                <a class="btn btn-metis-3 btn-lg" href="{{ path('document_new') }}">Ajouter une pièce</a>
            </div>

        </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
