{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Insertion de documents</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.title,{'label':'Titre'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.file,{'label':'Fichier'}) }}
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <input class="btn btn-success btn-lg" type="submit" value="Créer" />
            </div>
            <div class="col-lg-6">
                <a class="btn btn-metis-1 btn-lg" href="{{ path('document_index') }}">Retour</a>
            </div>
        </div>

    {{ form_end(form) }}



    </div>
</div>
{% endblock %}
