{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Document de travail : {{ document.title }} </h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <tbody>
                    <tr>
                        <th>Référence</th>
                        <td>{{ document.id }}</td>
                    </tr>
                    <tr>
                        <th>Fichier</th>
                        <td>{{ document.file }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ document.title }}</td>
                    </tr>
                </tbody>
            </table>


                <div class="col-lg-4">
                    <a  class="btn btn-metis-3 btn-lg" href="{{ path('document_index') }}">Retour</a>
                </div>
                <div class="col-lg-4">
                    <a  class="btn btn-metis-4 btn-lg" href="{{ path('document_edit', { 'id': document.id }) }}">Modifier</a>
                </div>
                <div class="col-lg-4">
                    {{ form_start(delete_form) }}
                        <input class="btn btn-metis-6 btn-lg" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
        </div>
    </div>
</div>
{% endblock %}
