{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">
            <h1>Nouvelle note de frais</h1>

            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(edit_form.date, {'label':'Date d\'intervention'}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(edit_form.name, {'label':'Motif de l\'intervention'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(edit_form.amount, {'label':'Montant'}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(edit_form.comment, {'label':'Commentaires'}) }}
                </div>
            </div>

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/themes/default/css/uniform.default.min.css">
            <div class="body">
                <div class="edit_form-group">
                    <label class="control-label col-lg-4">Pièces justificatives</label>
                    <div class="col-lg-8">
                        <div class="uploader" id="uniform-fileUpload"><input type="file" id="fileUpload"><span class="filename" style="user-select: none;">No file selected</span><span class="action" style="user-select: none;">Choose File</span></div>
                    </div>
                </div>
            </div>

            {{ form_widget(edit_form) }}

            <div class="row">
                <div class="col-lg-6">
                    <input  class="btn btn-success btn-lg" type="submit" value="Soumettre" />
                </div>
                <div class="col-lg-6">
                    <a  class="btn btn-metis-1 btn-lg" href="{{ path('expense_index') }}">Revenir à la liste</a>
                </div>

            </div>

            {{ form_end(edit_form) }}

        </div>
    </div>
{% endblock %}
