{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}

<div id="content" class="outer">
    <div class="inner bg-light lter">

    <h1>Mes notes de frais</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table"  id="table1">
                <thead>
                <tr>
                    <th>Ref.</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Commentaire</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td><a href="{{ path('expense_show', { 'id': expense.id }) }}">{{ expense.id }}</a></td>
                    <td>{% if expense.date %}{{ expense.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.comment }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-metis-4 btn-xs" href="{{ path('expense_show', { 'id': expense.id }) }}">Consulter</a>
                            </li>
                            <li>
                                <a class="btn btn-metis-4 btn-xs" href="{{ path('expense_edit', { 'id': expense.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


        <div class="col-lg-6">
            <a class="btn btn-metis-1 btn-xl" href="{{ path('expense_new') }}">Nouvelle note de frais</a>
        </div>

    </div>
</div>
    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
