{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Note de frais</h1>

        <div id="sortableTable" class="body collapse in">
                <table class="table table-bordered sortableTable responsive-table">
                    <tr>
                        <th>Id</th>
                        <td>{{ expense.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{% if expense.date %}{{ expense.date|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ expense.name }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ expense.comment }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{ expense.amount }}</td>
                    </tr>
                    <tr>
                        <th>Proof</th>
                        <td>{{ expense.proof }}</td>
                    </tr>
                    </tbody>
                </table>
        </div>

            <div class="row">
                <div class="col-lg-4">
                    <a class="btn btn-metis-3 btn-lg" href="{{ path('expense_index') }}">Retour</a>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-metis-4 btn-lg" href="{{ path('expense_edit', { 'id': expense.id }) }}">Editer</a>
                </div>
                <div class="col-lg-4">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-metis-6 btn-lg" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>

    </div>
</div>
{% endblock %}
