{% block headers %}
    {% include(':private_zone:headers.html.twig') %}
{% endblock %}

{% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ msg }}
    </div>
{% endfor %}

{% block navigation %}
    {% include(':private_zone:navbar.html.twig') %}
{% endblock %}

{% block menu %}{% endblock %}

{% block body %}{% endblock %}

{% block footers %}
    {% include(':private_zone:footers.html.twig') %}
{% endblock %}