{% block headers %}
    {% include ':public_zone:headers.html.twig' %}
{% endblock %}

{% block navigation %}
    {% include ':public_zone:navigation.html.twig' %}
{% endblock %}

{% block main %}

{% endblock %}

{% block sitemap %}
    {% include(':public_zone:sitemap.html.twig') %}
{% endblock %}