{{ form_start(form) }}
{{ form_row(form.subject, {'label':'Objet'}) }}
{{ form_row(form.firstname, {'label':'Prénom'}) }}
{{ form_row(form.lastname, {'label':'Nom'}) }}
{{ form_row(form.email, {'label':'Email'}) }}
{{ form_row(form.message, {'label':'Message'}) }}
<button type="submit">Envoyer</button>
{{ form_end(form) }}
