{% extends 'base.html.twig' %}

{% block main %}
    <h1>Page list !</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Body</th>
                <th>Datecreate</th>
                <th>Datepublish</th>
                <th>Published</th>
                <th>Tracked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.body }}</td>
                <td>{% if page.dateCreate %}{{ page.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if page.datePublish %}{{ page.datePublish|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if page.published %}Yes{% else %}No{% endif %}</td>
                <td>{% if page.tracked %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('page_show', { 'id': page.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('page_edit', { 'id': page.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('page_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
