{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

    <h1>Modification d'un utilisateur</h1>

    {{ form_start(edit_form) }}
        <div class="col-lg-4">
            {{ form_row(edit_form.firstname, {'label' : 'prenom'}) }}
        </div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('applicant_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
