{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Applicant list</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>Resume</th>
                        <th>Skills</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for applicant in applicants %}
                    <tr>
                        <td><a href="{{ path('applicant_show', { 'id': applicant.id }) }}">{{ applicant.id }}</a></td>
                        <td>{{ applicant.user.firstname }} {{ applicant.user.lastname }}</td>
                        <td><a href="{{ path('resume_download', { 'id': applicant.resume.id }) }}">Télécharger</a></a> </td>
                        <td>{{ applicant.skills|join(',') }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('applicant_show', { 'id': applicant.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('applicant_edit', { 'id': applicant.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <ul>
        <li>
            <a href="{{ path('applicant_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
</div>
    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
