{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Applicant creation</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="row">
            <div class="col-lg-6">
                <input class="btn btn-success btn-lg" type="submit" value="Créer" />
            </div>
            <div class="col-lg-6">
                <a  class="btn btn-metis-1 btn-lg" href="{{ path('applicant_index') }}">Revenir à la liste</a>
            </div>
        </div>
    {{ form_end(form) }}

    </div>
</div>
{% endblock %}
