{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Applicant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ applicant.id }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td><a href="{{ path('resume_download', {'id': applicant.resume.id}) }}" target="_blank">Télécharger</a></td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{ applicant.skills|join(',') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('applicant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('applicant_edit', { 'id': applicant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
