{% extends 'base_public.html.twig' %}

{% block main %}

    <section class="bread-wrap">
        <div class="container">
            <h1>Les postes à pourvoir</h1>


        </div>
    </section>
{% endblock %}
