</div>
<footer class="Footer bg-dark dker">
    <p>2017 &copy; IPSSI Group template</p>
</footer>

<!--Bootstrap -->
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- MetisMenu -->
<script src="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.js') }}"></script>

<!-- Screenfull -->
<script src="{{ asset('assets/vendor/screenfull/dist/screenfull.min.js') }}"></script>

<!-- datatables -->
<script type="text/javascript" src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>

<!-- Metis core scripts -->
<script src="{{ asset('assets/js/back/core.min.js') }}"></script>

<!-- Metis demo scripts -->
<script src="{{ asset('assets/js/back/app.js') }}"></script>
<script src="{{ asset('assets/js/back/style-switcher.js') }}"></script>

</body>
</html>
