<!doctype html>
    <html class="no-js">
    <head>
        <meta charset="UTF-8">
        <title>IPSSI Espace enregistré</title>

        <!--IE Compatibility modes-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--Mobile first-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">

        <!-- Metis core stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/back/main.min.css') }}">

        <!-- metisMenu stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/metisMenu/dist/metisMenu.min.css') }}">

        <!-- Datatables -->
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

        <!--[if lt IE 9]>
        <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
        <![endif]-->

        <!--jQuery -->
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/translation/datepicker-fr.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/themes/base/jquery-ui.min.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/back/style-switcher.css') }}">

        <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/less/theme.less') }}">
        <script src="{{ asset('assets/vendor/less/dist/less.min.js') }}"></script>

        <!--Modernizr-->
        <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>

    </head>
    <body class=" ">

    <div class="bg-dark dk" id="wrap">