{% extends 'base_back.html.twig' %}

{% block menu %}
    <div id="left">
        <div class="media user-media bg-dark dker">
            <div class="user-media-toggleHover">
                <span class="fa fa-user"></span>
            </div>
            <div class="user-wrapper bg-dark">
                <a class="user-link" href="">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="{{ asset('assets/img/user.gif') }}">
                    <span class="label label-danger user-label">16</span>
                </a>
                <div class="media-body">
                    <h5 class="media-heading">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
                    <ul class="list-unstyled user-info">
                        <li> <a href="">Administrator</a>  </li>
                        <li>Last Access :
                            <br>
                            <small>
                                <i class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
                        </li>
                        <li>
                            <a href="{{ path('security_logout') }}">
                                <i class=" fa fa-sign-out "></i>Déconnexion</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if zone == 'hr'  %}
            {% include(':private_zone:left_menu/hr_menu.html.twig') %}
        {% endif %}
        {% if zone == 'toolbox'  %}
            {% include(':private_zone:left_menu/tb_menu.html.twig') %}
        {% endif %}
        {% if zone == 'params'  %}
            {% include(':private_zone:left_menu/params_menu.html.twig') %}
        {% endif %}
        {% if zone == 'admin'  %}
            {% include(':private_zone:left_menu/admin_menu.html.twig') %}
        {% endif %}
    </div>
{% endblock %}