<div class="bg-dark dk" id="wrap">
    <div id="top">

        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <header class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                    <a href="/cms" class="navbar-brand">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="IPSSI logo">
                    </a>
                </header>


                <ul class="nav navbar-nav">
                    <li> <a href="{{ path('dashboard_show') }}">Actualités</a>  </li>
                    <li class='dropdown '>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Ressources humaines <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('activityreport_index') }}">CRA</a></li>
                            <li><a href="{{ path('expense_index') }}">Notes de frais</a></li>
                            <li><a href="{{ path('holidayrequest_index') }}">Demande de congés</a></li>
                            <li><a href="form-validation.html">CV Thèque</a></li>
                            <li><a href="{{ path('position_index') }}">Offre de poste</a></li>
                            <li><a href="form-validation.html">Candidatures</a></li>
                            <li><a href="form-validation.html">Collaborateurs</a></li>
                        </ul>
                    </li>
                    <li class='dropdown '>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Boite à outils <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="form-general.html">Certifications</a></li>
                            <li><a href="{{ path('document_index') }}">Documents de travail</a></li>
                        </ul>
                    </li>

                    <li class='dropdown '>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Parametrage <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path('external_index') }}">Liens externes</a></li>
                            <li><a href="{{ path('parameter_edit', {'id': 1}) }}">Paramètres du site</a></li>
                            <li><a href="form-validation.html">CRM</a></li>
                        </ul>
                    </li>
                    <li class='dropdown '>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Administration <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
                            <li><a href="{{ path('article_index') }}">Gestion des articles</a></li>
                            <li><a href="form-validation.html">Administration</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <header class="head">
            <div class="search-bar">
                <form class="main-search" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rechercher ...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm text-muted" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="main-bar">
                <h3>
                    <i class="fa fa-home"></i>&nbsp; IPSSI </h3>
            </div>
        </header>

    </div>


</div>