{% block menu %}

    <div id="left">
        <div class="media user-media bg-dark dker">
            <div class="user-media-toggleHover">
                <span class="fa fa-user"></span>
            </div>
        </div>

        <!-- #menu -->
        <ul id="menu" class="bg-dark dker">
            <li class="nav-header">Administration</li>
            <li class="nav-divider"></li>


            <li class="">
                <a href="javascript:">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Utilisateurs</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('user_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Liste des utilisateurs </a>
                    </li>
                    <li>
                        <a href="{{ path('user_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouveau compte </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Articles du site</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('article_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Liste des articles </a>
                    </li>
                    <li>
                        <a href="{{ path('article_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouvel article </a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Roles</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('role_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Les roles </a>
                    </li>

                </ul>
            </li>

        </ul>

    </div>

    <script type="text/javascript">

        function redirect(a)
        {
            location.href = a;
        }

    </script>

{% endblock %}