{% block menu %}


        <!-- #menu -->
        <ul id="menu" class="bg-dark dker">
            <li class="nav-header">Ressources humaines</li>
            <li class="nav-divider"></li>


            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Rapport d'activité</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('activityreport_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Liste </a>
                    </li>
                    <li>
                        <a href="{{ path('activityreport_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouveau rapport </a>
                    </li>
                    <li>
                        <a href="{{ path('crm_client_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Démarchage de client </a>
                    </li>
                    <li>
                        <a href="{{ path('crm_client_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Créer un client </a>
                    </li>

                    <li>
                        <a href="{{ path('clientcontact_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Contacts clients </a>
                    </li>

                    <li>
                        <a href="{{ path('clientcontact_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouveau contact clients </a>
                    </li>

                    <li>
                        <a href="{{ path('project_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Projets </a>
                    </li>
                </ul>
            </li>


            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Demande de congés</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('holidayrequest_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Mes demandes </a>
                    </li>
                    <li>
                        <a href="{{ path('holidayrequest_new') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouvelle demande </a>
                    </li>
                    <li>
                        <a href="{{ path('holidayapproval_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Approbation de demande </a>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Note de frais</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('expense_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Mes notes de frais </a>
                    </li>
                    <li>
                        <a href="{{ path('expense_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Nouvelle note </a>
                    </li>
                    <li>
                        <a href="{{ path('expensevalidation_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Approbation de note </a>
                    </li>

                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-building "></i>
                    <span class="link-title">Recrutement</span>
                    <span class="fa arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="{{ path('applicant_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Postulants </a>
                    </li>
                    <li>
                        <a href="{{ path('position_index') }}">
                            <i class="fa fa-angle-right"></i>&nbsp; Offres </a>
                    </li>
                </ul>
            </li>
        </ul>


    <script type="text/javascript">

        function redirect(a)
        {
            location.href = a;
        }

    </script>

{% endblock %}