{% block menu %}

    <!-- #menu -->
    <ul id="menu" class="bg-dark dker">
        <li class="nav-header">Boite à outils</li>
        <li class="nav-divider"></li>


        <li class="">
            <a href="javascript:;">
                <i class="fa fa-building "></i>
                <span class="link-title">Certifications</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('activityreport_index') }}">
                        <i class="fa fa-angle-right"></i>&nbsp; Liste </a>
                </li>
            </ul>
        </li>


        <li class="">
            <a href="javascript:;">
                <i class="fa fa-building "></i>
                <span class="link-title">Documents de travail</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ path('document_index') }}">
                        <i class="fa fa-angle-right"></i>&nbsp; Tous les ducuments </a>
                </li>
                <li>
                    <a href="{{ path('document_new') }}">
                        <i class="fa fa-angle-right"></i>&nbsp;Upload </a>
                </li>

            </ul>
        </li>
    </ul>


    <script type="text/javascript">

        function redirect(a)
        {
            location.href = a;
        }

    </script>

{% endblock %}