{% extends 'base.html.twig' %}

{% block body %}
    <h1>Address</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Streetname</th>
                <td>{{ address.streetName }}</td>
            </tr>
            <tr>
                <th>Streetnumber</th>
                <td>{{ address.streetNumber }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ address.zipcode }}</td>
            </tr>
            <tr>
                <th>Countrycode</th>
                <td>{{ address.countryCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ address.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ address.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('address_edit', { 'id': address.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
