{% block carousel %}

    <section class="main-slider">
        <div class="flexslider">
            <ul class="slides">
                {% for article in articles %}
                <li style="background: url('{{ asset('uploads/banners/') ~ article.banner }}')">
                    <div class="slider-text">
                        <div class="inner">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h1>{{ article.title }}</h1>

                                        <a href="{{ path("article_show", {'id': article.id }) }}" class="btn btn-lg border-white">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}