<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset("assets/vendor/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- custom css -->
    <link href="{{ asset("assets/css/public/css/style.css") }}" rel="stylesheet" type="text/css" media="screen">
    <!-- font awesome for icons -->
    <link href="{{ asset("assets/vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet">
    <!-- flex slider css -->
    <link href="{{ asset("assets/css/public/css/flexslider.css") }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset("assets/css/public/css/owl.transitions.css") }}" rel="stylesheet" type="text/css" media="screen">
    <!-- animated css  -->
    <link href="{{ asset("assets/css/public/css/animate.css") }}" rel="stylesheet" type="text/css" media="screen">
    <!--owl carousel css-->
    <link href="{{ asset("assets/css/public/css/owl.carousel.css") }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset("assets/css/public/css/owl.theme.css") }}" rel="stylesheet" type="text/css" media="screen">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
    <![endif]-->


</head>
