<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="{{ url('public_homepage') }}">
                <img src="{{ asset('assets/img/logo.png') }}" alt="IPSSI logo">
            </a>
        </div>

        <!-- Login link -->
        <div class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_USER') %}
                <div class="nav-user">
                    <div>
                        <a href="#">
                            <i class="fa fa-user fa-lg" aria-hidden="true"></i> {{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('security_logout') }}">
                            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Déconnexion
                        </a>
                    </div>
                </div>
            {% else %}
                <div id="login-button">
                    <a href="{{ path('security_login') }}">
                        <button type="button" class="btn btn-default navbar-btn">
                            Mon IPSSI <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="services.html">L'activité</a>
                </li>
                <li>
                    <a href="contact.html">Le groupe</a>
                </li>
                <li>
                    <a href="contact.html">Nous rejoindre</a>
                </li>
                <li>
                    <a href="contact.html">Espace collaborateur</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher">
                </div>
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </form>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
</nav>
