<body>
<div class="top-bar-wrap hidden-xs">
    <div class="container">
        <div class="top-bar">
            <div class="pull-left">
                <a href="#">Support@vinceandsam.com</a>
            </div>
            <div class="pull-right">
                <ul class="list-inline social-1">
                    {% for link in links%}
                        <li><a href="{{ link.link }}"><i class="{{ link.icon }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div><!--top-bar-->
    </div>
</div><!--top bar wrap end--
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('public_homepage') }}"><img src="{{ asset('assets/img/logo.png') }}" style="background-color:black"></a>
        </div><!--.navbar header-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{{ path('public_homepage') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Le groupe <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('article_index') }}">Actualités</a></li>
                        <li><a href="{{ path('page_show', {'id':1}) }}">Nous connaitre</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="blog.html">Blog sidebar</a></li>
                        <li><a href="blog-post.html">Blog - post</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activité <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="side-nav.html">Side Navigation</a></li>
                        <li><a href="blank-page.html">Blank Page</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="pricing.html">Our Pricing</a></li>
                        <li><a href="faq.html">FAQS</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login-register.html">Login / Register</a></li>
                        <li><a href="error.html">Error - 404</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Nous rejoindre <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('public_position_index') }}">Postes à pourvoir</a></li>
                        <li><a href="{{ path('public_position_autocandidate') }}">Candidature spontanée</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="active"><a href="">Contact</a></li>
                <li class="active"><a href="{{  path('dashboard_show') }}">Mon IPSSI</a></li>
                <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu animated fadeInUp">
                        <li id="dropdownForm">
                            <div class="dropdown-form">
                                <form class=" form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search...">
                                        <span class="input-group-btn">
                                                    <button class="btn btn-theme-bg" type="button">Go!</button>
                                                </span>
                                    </div><!--input group-->
                                </form><!--form-->
                            </div><!--.dropdown form-->
                        </li><!--.drop form search-->
                    </ul><!--.drop menu-->
                </li><!--nav search form-->
            </ul><!--navbar-right for navbar-left replace class with navbar-left-->
        </div><!--/.nav-collapse -->
    </div><!--.container-->
</div><!--.navbar-default-->