{% block present %}
    <div class="divide80"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 about-us">
                <h3 class="heading">Un peu de nous</h3>
                <img src="{{ asset('uploads/site/') ~ welcomeimg }}" class="img-responsive" alt="">
                <p class="dropcap">
                    {{ welcome | nl2br}}
                </p>
                <div class="divide30"></div>
                {% if welcomeword %}
                <blockquote>
                    <p>
                        {{ welcomeword | nl2br}}
                    </p>
                </blockquote>
                    {% endif %}

            </div>


            <div class="col-sm-5 wow fadeInDown">
                    <div class="accordion">
                        <h3 class="heading">Dernières offres</h3>
                        <div class="panel-group" id="accordion1">

                            {% for i in positions %}

                            <div class="panel panel-default">
                                <div class="panel-heading active">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo{{ i.getId() }}">
                                            {{ i.getTitle() }}
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                    </h3>
                                </div>

                                <div id="collapseTwo{{ i.getId() }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="media accordion-inner">
                                            <div class="media-body">
                                                <p>{{ i.getDescription() }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div><!--/#accordion1-->
                    </div>
                </div>

            </div>
        </div><!--/#row-->
    </div><!--/#contener-->


{% endblock %}