{% extends 'base_public.html.twig' %}

{% block main %}

    {% block carousel %}
        {% include ':public_zone:carousel.html.twig' %}
    {% endblock %}

    {% block present %}
        {% include ':public_zone:present.html.twig' %}
    {% endblock %}

{% endblock %}