{% block sitemap %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">Qui sommes nous</h3>
                        <p>
                            {{ datasite.whoareus }}
                        </p>
                        <ul class="address-info list-unstyled">
                            <li><i class="fa fa-home"></i> {{ datasite.address }}</li>
                            <li><i class="fa fa-phone"></i> {{ datasite.tel }}</li>
                            <li><i class="fa fa-envelope"></i> <a href="{{ datasite.whoareus }}">{{ datasite.mail }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">Derniers articles</h3>
                        <ul class="list-unstyled popular-post">


                            {% for art in lastarticles %}
                                <li>
                                    <div class="popular-img">
                                        <a href="#"> <img src="{{ asset( 'assets/img/banners/') ~ art.banner  }}" class="img-responsive" alt=""></a>
                                    </div>
                                    <div class="popular-desc">
                                        <h5> <a href="#">{{ art.title }}</a></h5>
                                        <h6>{{ art.datepublish }}</h6>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul><!--latest post-->
                    </div>
                </div><!--footer col-->
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">Nous retrouver</h3>
                        <ul class="list-inline social-1">
                            {% for link in links%}
                                <li><a href="http://{{ link.link }}"><i class="{{ link.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="divide30"></div>
                    <div class="footer-col">
                        <h3 class="heading">Mentions légales</h3>
                        <p>
                            {{ datasite.legal }}
                        </p>
                    </div>
                </div><!--footer col-->
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">Derniers articles</h3>
                        <div class=" footer-work">
                            <a href="#">
                                <img src="img/work-1.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-2.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-10.jpg" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-4.jpg" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-5.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-6.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-7.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-8.png" class="img-responsive" alt="">
                            </a>
                            <a href="#">
                                <img src="img/work-9.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div><!--footer col-->
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-btm">
                        <span>&copy; Copyright 2017 IPSSI</span>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--footer end-->
    <!--scripts and plugins -->
    <!--must need plugin jquery-->
    <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <!--bootstrap js plugin-->
    <script  src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <!--easing plugin for smooth scroll-->
    <script src="{{ asset('assets/js/public/jquery.easing.1.3.min.js') }}" type="text/javascript"></script>
    <!--easing plugin for nice scroll scroll-->

    <!--sticky header-->
    <script type="text/javascript"  src="{{ asset('assets/js/public/jquery.sticky.js') }}"></script>
    <!--flex slider plugin-->
    <script  src="{{ asset('assets/js/public/jquery.flexslider-min.js') }}" type="text/javascript"></script>
    <!--parallax background plugin-->
    <script  src="{{ asset('assets/js/public/jquery.stellar.min.js') }}" type="text/javascript"></script>
    <!--very easy to use portfolio filter plugin -->
    <script  src="{{ asset('assets/js/public/jquery.mixitup.min.js') }}" type="text/javascript"></script>
    <!--digit countdown plugin-->
    <script src="{{ asset('assets/vendor/waypoints/waypoints.min.js') }}"></script>
    <!--digit countdown plugin-->
    <script  src="{{ asset('assets/js/public/jquery.counterup.min.js') }}" type="text/javascript"></script>
    <!--on scroll animation-->
    <script  src="{{ asset('assets/js/public/wow.min.js') }}" type="text/javascript"></script>
    <!--owl carousel slider-->
    <script  src="{{ asset('assets/js/public/owl.carousel.min.js') }}" type="text/javascript"></script>
    <!--customizable plugin edit according to your needs-->
    <script  src="{{ asset('assets/js/public/custom.js') }}" type="text/javascript"></script>

    </body>
    </html>
{% endblock %}