{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">

            <h1>Modification d'un utilisateur</h1>

            {{ form_start(edit_form) }}
            <div class="col-lg-4">
                {{ form_row(edit_form.firstname, {'label' : 'Prenom'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(edit_form.lastname, {'label' : 'Nom de famille'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(edit_form.email, {'label' : 'Email'}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(edit_form.roles, {'label' : 'Fonction'}) }}
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <input class="btn btn-success btn-lg" type="submit" value="Modifier" />
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-metis-1 btn-lg" href="{{ path('user_index') }}">Retour</a>
                </div>
                <div class="col-lg-4">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-metis-6 btn-lg"  type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </div>
            </div>

    {{ form_end(edit_form) }}

    </div>
</div>
{% endblock %}
