<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login Page</title>

    <meta name="description" content="Free Admin Template Based On Twitter Bootstrap 3.x">
    <meta name="author" content="">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/lib/bootstrap/css/bootstrap.css') }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}">

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/css/back/main.css') }}">

    <!-- metisMenu stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/lib/metismenu/metisMenu.css') }}">

    <!-- animate.css stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/lib/animate.css/animate.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
    <![endif]-->

</head>

<body class="login">

<div class="form-signin">
    <div class="text-center">
        <img src="{{ asset('assets/img/logo.png') }}" alt="IPSSI Logo" style="background:black;">
    </div>
    <hr>
    <div class="tab-content">
        <div id="login" class="tab-pane active">
            {{ form_start(form) }}
            <p class="text-muted text-center">
                Connexion, veuillez saisir login et mot de passe
            </p>
            {{ form_row(form._username, {'label':'Login'}) }}
            {{ form_row(form._password, {'label':'Mot de passe'}) }}
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
            {{ form_end(form) }}
        </div>

        <div id="forgot" class="tab-pane">
            <form action="index.html">
                <p class="text-muted text-center">Login</p>
                {{ form_row(form._username) }}
                <br>
                <button class="btn btn-lg btn-danger btn-block" type="submit">Recover Password</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <ul class="list-inline">
            <li><a class="text-muted" href="#login" data-toggle="tab">Connexion</a></li>
            <li><a class="text-muted" href="#forgot" data-toggle="tab">Mot de passe oublié</a></li>
        </ul>
    </div>
</div>


<!--jQuery -->
<script src="{{ asset('assets/lib/jquery/jquery.js') }}"></script>

<!--Bootstrap -->
<script src="{{ asset('assets/lib/bootstrap/js/bootstrap.js') }}"></script>


<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            $('.list-inline li > a').click(function() {
                var activeForm = $(this).attr('href') + ' > form';
                //console.log(activeForm);
                $(activeForm).addClass('animated fadeIn');
                //set timer to 1 seconds, after that, unload the animate animation
                setTimeout(function() {
                    $(activeForm).removeClass('animated fadeIn');
                }, 1000);
            });
        });
    })(jQuery);
</script>
</body>

</html>
