{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">

            <h1>Création d'un utilisateur</h1>

            {{ form_start(form) }}
            <div class="col-lg-4">
                {{ form_row(form.firstname, {'label' : 'Prenom'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.lastname, {'label' : 'Nom de famille'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.email, {'label' : 'Email'}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(form.roles, {'label' : 'Fonction'}) }}
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <input class="btn btn-success btn-lg" type="submit" value="Créer" />
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-metis-1 btn-lg" href="{{ path('user_index') }}">Retour</a>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
