{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Utilisateur</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Date d'enregistrement</th>
                        <td>{% if user.dateRegister %}{{ user.dateRegister|date('d-m-Y H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4">
            <a  class="btn btn-metis-3 btn-lg" href="{{ path('user_index') }}">Retour</a>
        </div>
        <div class="col-lg-4">
            <a  class="btn btn-metis-4 btn-lg" href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
        </div>
        <div class="col-lg-4">

            {{ form_start(delete_form) }}
                <input class="btn btn-metis-6 btn-lg" type="submit" value="Effacer">
            {{ form_end(delete_form) }}
        </div>

    </div>
</div>
{% endblock %}
