{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Mes demandes de congés</h1>



    <div id="sortableTable" class="body collapse in">
        <table class="table table-bordered sortableTable responsive-table" id="table1">
            <thead>
            <tr>
                <th>Ref</th>
                <th>Départ</th>
                <th>Retour</th>
                <th>Payé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for holidayRequest in holidayRequests %}
            <tr>
                <td>{{ holidayRequest.id }}</a></td>
                <td>{% if holidayRequest.dateStart %}{{ holidayRequest.dateStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if holidayRequest.dateEnd %}{{ holidayRequest.dateEnd|date('Y-m-d') }}{% endif %}</td>
                <td>{% if holidayRequest.paid %}Yes{% else %}No{% endif %}</td>
                <td>

                        <div class="col-lg-3">
                            <a class="btn btn-metis-4 btn-xs" href="{{ path('holidayrequest_show', { 'id': holidayRequest.id }) }}">Consulter</a>
                        </div>
                        <div class="col-lg-3">
                            <a class="btn btn-metis-2 btn-xs" href="{{ path('holidayrequest_edit', { 'id': holidayRequest.id }) }}">Modifier</a>
                        </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <a href="{{ path('holidayrequest_new') }}">Nouvelle demande</a>
        </div>
    </div>

    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
