{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}



    <div id="content" class="outer">
        <div class="inner bg-light lter">

            <h1> Nouvelle demande de congés</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.dateStart, {'label':'Date de départ', 'id':'startat'}) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.dateEnd, {'label':'Date de retour', 'id':'stopat'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.paid, {'label':'Payé', 'class':'primary', 'id':'paid'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <input class="btn btn-success btn-lg" type="submit" value="Editer" />
                </div>
                <div class="col-lg-6">
                    <a  class="btn btn-metis-1 btn-lg" href="{{ path('holidayrequest_index') }}">Revenir à la liste</a>
                </div>

                {{ form_end(form) }}

        </div>


    </div>
    </div>


{% endblock %}
