{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}

<div id="content" class="outer">
    <div class="inner bg-light lter">

    <h1>Demande de congés</h1>
        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <thead>
                <tr>
                    <th>Ref</th>
                    <td>{{ holidayRequest.id }}</td>
                </tr>
                <tr>
                    <th>Date de départ</th>
                    <td>{% if holidayRequest.dateStart %}{{ holidayRequest.dateStart|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date de retour</th>
                    <td>{% if holidayRequest.dateEnd %}{{ holidayRequest.dateEnd|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Payé</th>
                    <td>{% if holidayRequest.paid %}Oui{% else %}Non{% endif %}</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <a class="btn btn-metis-3 btn-lg" href="{{ path('holidayrequest_index') }}">Retour</a>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-metis-4 btn-lg" href="{{ path('holidayrequest_edit', { 'id': holidayRequest.id }) }}">Edit</a>
            </div>
            <div class="col-lg-4">
                {{ form_start(delete_form) }}
                <input class="btn btn-metis-6 btn-lg" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>
</div>


{% endblock %}
