{% block body %}
    <h1>Parameter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parameter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ parameter.title }}</td>
            </tr>
            <tr>
                <th>Slogan</th>
                <td>{{ parameter.slogan }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ parameter.description }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ parameter.keywords }}</td>
            </tr>
            <tr>
                <th>Contactemail</th>
                <td>{{ parameter.contactEmail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parameter_edit', { 'id': parameter.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
