{% extends 'base.html.twig' %}

{% block body %}
    <h1>Send list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Civility</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Role</th>
                <th>Society</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for send in sends %}
            <tr>
                <td><a href="{{ path('send_show', { 'id': send.id }) }}">{{ send.id }}</a></td>
                <td>{{ send.civility }}</td>
                <td>{{ send.name }}</td>
                <td>{{ send.firstname }}</td>
                <td>{{ send.role }}</td>
                <td>{{ send.society }}</td>
                <td>{{ send.mail }}</td>
                <td>{{ send.phone }}</td>
                <td>{{ send.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('send_show', { 'id': send.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('send_edit', { 'id': send.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('send_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
