{% extends 'base_public.html.twig' %}

{% block main %}

    {{ form_start(form, {'role':'form'}) }}
    <section class="bread-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Nous joindre</h4>
                </div>
            </div>
        </div>
    </section><!--.bread-wrap-->
    <div class="divide80"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 margin30">
                <h3 class="heading">Envoyez nous un message</h3>
                <div class="contact-form">
                        <div class="form-group col-lg-2">
                            <label for="civility">Civilité</label>
                            {{ form_row(form.civility, {'label':false}) }}
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="name">Nom</label>
                            {{ form_row(form.name, {'label':false}) }}
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="firstname">Prénom</label>
                            {{ form_row(form.firstname, {'label':false}) }}
                        </div>
                    <div class="form-group col-lg-6">
                        <label for="role">Fonction</label>
                        {{ form_row(form.role, {'label':false}) }}
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="society">Société</label>
                        {{ form_row(form.society, {'label':false}) }}
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="name">Email</label>
                        {{ form_row(form.mail, {'label':false}) }}
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="phone">Téléphone</label>
                        {{ form_row(form.phone, {'label':false}) }}
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="content">Message</label>
                        {{ form_row(form.content, {'label':false}) }}
                    </div>


                        <button type="submit" class="btn btn-theme-bg">Envoyer</button>
                </div><!--contact-form-->
            </div>
            <div class="col-md-5">
                <h3 class="heading">Siège social</h3>
                <p>
                    Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus.
                </p>
                <ul class="address-info list-unstyled">
                    <li><i class="fa fa-home"></i> {{ datasite.address }}</li>
                    <li><i class="fa fa-phone"></i> {{ datasite.tel }}</li>
                    <li><i class="fa fa-envelope"></i> <a href="#">{{ datasite.mail }}</a></li>
                    <li><i class="fa fa-print"></i> {{ datasite.fax }}</li>
                    <li><i class="fa fa-clock-o"></i>{{ datasite.opening }}</li>
                </ul>
            </div>
        </div>
        <div class="divide60"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="map-canvas" style="width:100%;height: 400px;"></div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="divide80"></div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=XXXXXXXXXXXXXXXX"></script>
    <script type="text/javascript">
        var myLatlng;
        var map;
        var marker;

        function initialize() {
            myLatlng = new google.maps.LatLng(37.397802, -121.890288);

            var mapOptions = {
                zoom: 13,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                scrollwheel: false,
                draggable: false
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var contentString = '<p style="line-height: 20px;"><strong>Narani Template</strong></p><p>Vailshali, Narani City, 302012</p>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Marker'
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


{% endblock %}
