{% extends 'base.html.twig' %}

{% block main %}
    <h1>Send</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ send.id }}</td>
            </tr>
            <tr>
                <th>Civility</th>
                <td>{{ send.civility }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ send.name }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ send.firstname }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ send.role }}</td>
            </tr>
            <tr>
                <th>Society</th>
                <td>{{ send.society }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ send.mail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ send.phone }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ send.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('send_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('send_edit', { 'id': send.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
