{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1 class="col-lg-12">
            Edition d'un contact
        </h1>
        {{ form_start(edit_form) }}
        <div class="col-lg-4">
            {{ form_row(edit_form.company, {'label':'Compagnie'}) }}
        </div>
        <div class="col-lg-1">
            {{ form_row(edit_form.civility, {'label':'Civilité'}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(edit_form.firstname, {'label':'Prénom'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.lastname, {'label':'Nom'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(edit_form.phone, {'label':'Téléphone'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(edit_form.mobilePhone, {'label':'Mobile'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(edit_form.position, {'label':'Position'}) }}
        </div>
        <div class="col-lg-4">
            <input class="btn btn-success btn-line" type="submit" value="Editer" />
        </div>

        {{ form_end(edit_form) }}

        <div class="col-lg-4">
            <a class="btn btn-metis-3 btn-line" href="{{ path('clientcontact_index') }}">Retour</a>
        </div>

        <div class="col-lg-4">
            {{ form_start(delete_form) }}
            <input class="btn btn-metis-1 btn-line" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

{% endblock %}
