{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1 class="col-lg-12"> Contacts clients enregistrés</h1>

        <div class="col-lg-12">
            <a class="btn btn-metis-1 btn-xl" href="{{ path('clientcontact_new') }}">Ajouter un contact</a>
        </div>

        <div id="sortableTable" class="body collapse in col-lg-12">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Société</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for clientContact in clientContacts %}
                    <tr>
                        <td><a href="{{ path('clientcontact_show', { 'id': clientContact.id }) }}">{{ clientContact.id }}</a></td>
                        <td>{{ clientContact.lastname }}</td>
                        <td>{{ clientContact.firstname }}</td>
                        <td>{{ clientContact.company.name }}</td>
                        <td>{{ clientContact.position }}</td>
                        <td>
                            <div class="col-lg-6">
                                <a class="btn btn-metis-4 btn-xs btn-line" href="{{ path('clientcontact_show', { 'id': clientContact.id }) }}">Consulter</a>
                            </div>
                            <div class="col-lg-6">
                                <a class="btn btn-danger btn-xs btn-line" href="{{ path('clientcontact_edit', { 'id': clientContact.id }) }}">Modifier</a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-12">
                    <a class="btn btn-metis-1 btn-xl" href="{{ path('clientcontact_new') }}">Ajouter un contact</a>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable();
        });
    </script>
{% endblock %}
