{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

        <h1 class="col-lg-12"> Création d'un contact client</h1>
        {{ form_start(form) }}
        <div class="col-lg-4">
            {{ form_row(form.company, {'label':'Compagnie'}) }}
        </div>
        <div class="col-lg-1">
            {{ form_row(form.civility, {'label':'Civilité'}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.firstname, {'label':'Prénom'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.lastname, {'label':'Nom'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.phone, {'label':'Téléphone'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.mobilePhone, {'label':'Mobile'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(form.position, {'label':'Position'}) }}
        </div>
        <div class="col-lg-6">
        <input class="btn btn-success btn-line" type="submit" value="Créer" />
        </div>
        {{ form_end(form) }}

        <div class="col-lg-6">
            <a class="btn btn-metis-3 btn-line" href="{{ path('clientcontact_index') }}">Retour</a>
        </div>

    </div>
</div>
{% endblock %}
