{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Consultation d'un contact client</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <tr>
                    <th>Id</th>
                    <td>{{ clientContact.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ clientContact.civility }} {{ clientContact.firstname }} {{ clientContact.lastname }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td> <i class="fa fa-phone-square"> {{ clientContact.phone }}</i> </td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td><i class="fa fa-mobile"> {{ clientContact.mobilePhone }}</i></td>
                </tr>
                <tr>
                    <th>Société</th>
                    <td>{{ clientContact.company.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-lg-4">
            <a class="btn btn-metis-1 btn-line" href="{{ path('clientcontact_index') }}">Retour</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-metis-2 btn-line" href="{{ path('clientcontact_edit', { 'id': clientContact.id }) }}">Editer</a>
        </div>
        <div class="col-lg-4">
            {{ form_start(delete_form) }}
            <input class="btn btn-metis-3 btn-line" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>

{% endblock %}
