{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Edition de l'article: ref: {{ article.id }}</h1>

    {{ form_start(edit_form) }}

        <div class="col-lg-4">
            {{ form_row(edit_form.title, {'label':'Titre'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.banner, {'label':'Bannière'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.category, {'label':'Categorie'}) }}
        </div>
        <div class="col-lg-12">
            {{ form_row(edit_form.teaser, {'label':'Accroche'}) }}
        </div>
        <div class="col-lg-12">
            {{ form_row(edit_form.body, {'label':'Contenu'}) }}
        </div>

        <div class="col-lg-4">
            {{ form_row(edit_form.published, {'label':'Publié'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.tracked, {'label':'Suivi'}) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.public, {'label':'Affiché'}) }}
        </div>


          <div class="col-lg-4">
              <input type="submit" value="Edit" />
          </div>



            <div class="col-lg-4">
                    <a href="{{ path('article_index') }}">Retour</a>
            </div>
            <div class="col-lg-4">
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
