{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Liste des Articles</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                <tr>
                <th>Ref.</th>
                <th>Titre</th>
                <th>Teaser</th>
                <th>Date de creation</th>
                <th>Date de publication</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.teaser }}</td>
                <td>{% if article.dateCreate %}{{ article.dateCreate|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if article.datePublish %}{{ article.datePublish|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if article.published %}Oui{% else %}Non{% endif %}</td>
                <td>
                        <div class="col-lg-6">
                            <a class="btn btn-metis-1 btn-xs" href="{{ path('article_show', { 'id': article.id }) }}">Consulter</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-metis-7 btn-xs"  href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <ul>
        <li>
            <a href="{{ path('article_new') }}">Create a new entry</a>
        </li>
    </ul>

    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
