{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class="inner bg-light lter">
            <h1>Création de l'article {{ article.id }}</h1>

            {{ form_start(form) }}

            <div class="col-lg-4">
                {{ form_row(form.title, {'label':'Titre'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.banner, {'label':'Bannière'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.category, {'label':'Categorie'}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(form.teaser, {'label':'Accroche'}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(form.body, {'label':'Contenu'}) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.published, {'label':'Publié'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.tracked, {'label':'Suivi'}) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(form.public, {'label':'Affiché'}) }}
            </div>


            <div class="col-lg-6">
                <input type="submit" value="Enregistrer" />
            </div>



            <div class="col-lg-6">
                <a href="{{ path('article_index') }}">Retour</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
