{% extends ':private_zone:left_menu.html.twig' %}

{% block main %}
    <div class="container">

        <div class="col-md-12 about-us">
            <h3 class="heading">{{ article.title }}</h3>
            <img src="{{ asset('assets/img/front/team-3.jpg') }}" class="img-responsive" alt="">
            <p class="dropcap">
                {{ article.body }}
            </p>

        </div>

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-success" href="{{ path('article_index') }}">Revenir à la liste</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="{{ path('article_edit', { 'id': article.id }) }}">Editer</a>
        </div>
        <div class="col-md-4">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>

    </div>
{% endblock %}

