{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}

<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Liste d'approbations en attente</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Accepté</th>
                    <th>Motif de refus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for holidayApproval in holidayApprovals %}
                    <tr>
                        <td><a href="{{ path('holidayapproval_show', { 'id': holidayApproval.id }) }}">{{ holidayApproval.id }}</a></td>
                        <td>{% if holidayApproval.approved %}Yes{% else %}No{% endif %}</td>
                        <td>{{ holidayApproval.refusalReason }}</td>
                        <td>

                                <div class="col-lg-4">
                                    <a class="btn btn-metis-4 btn-xs" href="{{ path('holidayapproval_show', { 'id': holidayApproval.id }) }}">Consulter</a>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-metis-2 btn-xs" href="{{ path('holidayapproval_edit', { 'id': holidayApproval.id }) }}">Modifier</a>
                                </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

            <a href="{{ path('holidayapproval_new') }}">Create a new entry</a>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
