{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>HolidayApproval creation</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.approved, {'label':'Acceptation'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.refusalReason, {'label':'Raison du refus'}) }}
            </div>
        </div>


        {{ form_widget(form) }}
        <input  class="btn btn-success btn-lg" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a  class="btn btn-metis-1 btn-lg" href="{{ path('holidayapproval_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
