{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <h1>HolidayApproval</h1>

    Demande venant de {{ holidayApproval.holidayRequest.user.firstname }}
    {{ holidayApproval.holidayRequest.user.lastname }} pour un congé {% if true == holidayApproval.holidayRequest.paid %}payé
    {% else %}sans solde {% endif %} du {{ holidayApproval.holidayRequest.dateStart|date('d-m-Y') }} au
    {{ holidayApproval.holidayRequest.dateEnd|date('d-m-Y') }}.

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ holidayApproval.id }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{% if holidayApproval.approved %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Refusalreason</th>
                <td>{{ holidayApproval.refusalReason }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('holidayapproval_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('holidayapproval_edit', { 'id': holidayApproval.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
