{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}

<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Validation de note de frais</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Accepted</th>
                        <th>Reasonrefused</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for expenseValidation in expenseValidations %}
                    <tr>
                        <td><a href="{{ path('expensevalidation_show', { 'id': expenseValidation.id }) }}">{{ expenseValidation.id }}</a></td>
                        <td>{% if expenseValidation.accepted %}Yes{% else %}No{% endif %}</td>
                        <td>{{ expenseValidation.reasonRefused }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('expensevalidation_show', { 'id': expenseValidation.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('expensevalidation_edit', { 'id': expenseValidation.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <ul>
        <li>
            <a href="{{ path('expensevalidation_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
