{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <h1>ExpenseValidation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expenseValidation.id }}</td>
            </tr>
            <tr>
                <th>Accepted</th>
                <td>{% if expenseValidation.accepted %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Reasonrefused</th>
                <td>{{ expenseValidation.reasonRefused }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expensevalidation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expensevalidation_edit', { 'id': expenseValidation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
