{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

        <h1 class="col-lg-12">Liste des projets</h1>

        <div id="sortableTable" class="body collapse in col-lg-12">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Début du projet</th>
                    <th>Fin du projet</th>
                    <th>Client</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                        <td>{{ project.name }}</td>
                        <td>{% if project.startAt %}{{ project.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if project.endAt %}{{ project.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ project.client }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="col-lg-12">
                <a href="{{ path('project_new') }}">Nouveau projet</a>
            </div>

    </div>
    </div>
</div>
    <script>
        $(document).ready(function(){
            $('#table1').DataTable();
        });
    </script>

{% endblock %}
