{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">

    <h1>Project creation</h1>

    {{ form_start(form) }}

    <div>
        <fieldset>
            <div class="col-md-6">
                {{ form_row(form.name,{'label':'Nom'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.client,{'label':'Client'}) }}
            </div>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend>Dates</legend>
            <div class="col-md-6">
                {{ form_row(form.startAt,{'label':'Date de début'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.endAt,{'label':'Date de fin'}) }}
            </div>
        </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset>
            <legend>Contact client</legend>
            {{ form_row(form.contact) }}
        </fieldset>
    </div>

    <div class="col-md-6">
        <fieldset>
            <legend>Adresse du site</legend>
            <div class="col-lg-6">
                {{ form_row(form.address.streetNumber, {'label':'No'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.address.streetName, {'label':'rue'}) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.address.zipcode, {'label':'Cp'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.address.city, {'label':'Ville'}) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.address.countryCode, {'label':'Pays'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.address.longitude, {'label':'Longitude'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.address.latitude, {'label':'Latitude'}) }}
            </div>
        </fieldset>
    </div>

    <div class="col-md-12">
        <fieldset>
            <legend>Consultants sur projet</legend>
            {{ form_row(form.consultants) }}
        </fieldset>
    </div>

    <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}

{# @todo Jquery pour synchro selection société #}
