{% extends 'base_back.html.twig' %}

{% block menu %}

<div id="left">
    <div class="media user-media bg-dark dker">
        <div class="user-media-toggleHover">
            <span class="fa fa-user"></span>
        </div>
        <div class="user-wrapper bg-dark">
            <a class="user-link" href="">
                <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/user.gif">
                <span class="label label-danger user-label">16</span>
            </a>
            <div class="media-body">
                <h5 class="media-heading">Archie</h5>
                <ul class="list-unstyled user-info">
                    <li> <a href="">Administrator</a>  </li>
                    <li>Last Access :
                        <br>
                        <small>
                            <i class="fa fa-calendar"></i>&nbsp;16 Mar 16:32</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- #menu -->
    <ul id="menu" class="bg-blue dker">
        <li class="nav-header">Menu ressources humaines</li>
        <li class="nav-divider"></li>



            </ul>
        </li>
    </ul>

</div>

    <script type="text/javascript">

        function redirect(a)
        {
            location.href = a;
        }

    </script>

{% endblock %}