{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Liste des roles disponibles</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Reference</th>
                        <th>Nom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                        <td>{{ role.role }}</td>
                        <td>{{ role.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
