{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Role</h1>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ role.id }}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>{{ role.role }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ role.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <a href="{{ path('role_index') }}">Revenir à la liste</a>
        </div>
        <div class="col-lg-6">
            <a href="{{ path('role_edit', { 'id': role.id }) }}">Modifier</a>
        </div>

    {% if role.users %}
        <h2>Utilisateurs endossant ce rôle</h2>
        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table2">
                <thead>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for user in role.users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table2').DataTable();
        });
    </script>

{% endblock %}
