{% block body %}
    <h1>Agency list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Isheadquarter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td><a href="{{ path('agency_show', { 'id': agency.id }) }}">{{ agency.id }}</a></td>
                <td>{{ agency.name }}</td>
                <td>{{ agency.address }}</td>
                <td>{% if agency.isHeadquarter %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agency_show', { 'id': agency.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('agency_edit', { 'id': agency.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agency_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
