{% block body %}
    <h1>Agency</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agency.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ agency.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ agency.address }}</td>
            </tr>
            <tr>
                <th>Isheadquarter</th>
                <td>{% if agency.isHeadquarter %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agency_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('agency_edit', { 'id': agency.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
