{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
    <div id="content" class="outer">
        <div class=" inner bg-light lter">
            <div class="row info-panel">
                <div class="col-lg-6 outer">
                    <div class="inner bg-light lter">
                    api gmail
                    </div>
                </div>
                <div class=" col-lg-6 outer">
                    <div class="inner bg-light lter">
                    api calendar
                    </div>
                </div>
            </div>

            <div class="row info-panel">
                <div class="col-lg-6 outer">
                    <div class="inner bg-light lter">
                    api autre
                    </div>
                </div>
                <div class="col-lg-6 outer">
                    <div class="inner bg-light lter">
                    news
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}