{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
        <h1>Les offres en cours</h1>

        <div class="row">
            <div class="col-lg-5">
                <a  class="btn btn-metis-6 btn-xs" href="{{ path('position_new') }}">Ajouter une offre</a>
            </div>
        </div>

        <div id="sortableTable" class="body collapse in">
            <table class="table table-bordered sortableTable responsive-table" id="table1">
                <thead>
                    <tr>
                        <th>Dossier</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Compétences</th>
                        <th>Salaire annuel</th>
                        <th>Durée du contrat</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <td><a href="{{ path('position_show', { 'id': position.id }) }}">{{ position.id }}</a></td>
                        <td><a href="{{ path('position_show', { 'id': position.id }) }}">{{ position.title }}</a></td>
                        <td>{{ position.description }}</td>
                        <td>{{ position.skillLevel }}</td>
                        <td>{{ position.indicativeAnnualSalary }}</td>
                        <td>{{ position.duration }}</td>
                        <td>
                            <div class="col-lg-4">
                                <a  class="btn btn-metis-4 btn-xs" href="{{ path('position_show', { 'id': position.id }) }}">Consulter</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-metis-2 btn-xs" href="{{ path('position_edit', { 'id': position.id }) }}">Modifier</a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <a class="btn btn-metis-6 btn-xs" href="{{ path('position_new') }}">Ajouter une offre</a>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $('#table1').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                    }
                }
            );
        });
    </script>
{% endblock %}
