{% extends ':private_zone:left_menu.html.twig' %}

{% block body %}
<div id="content" class="outer">
    <div class="inner bg-light lter">
    <h1>Position</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ position.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ position.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ position.description }}</td>
            </tr>
            <tr>
                <th>Skilllevel</th>
                <td>{{ position.skillLevel }}</td>
            </tr>
            <tr>
                <th>Indicativeannualsalary</th>
                <td>{{ position.indicativeAnnualSalary }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ position.duration }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('position_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('position_edit', { 'id': position.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>

{% endblock %}
